POSTGRES_DB=twogether_db
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_PORT=5433
MAIL_USERNAME=your_mail
MAIL_PASSWORD=your_password
TELEGRAM_BOT_TOKEN=...
TELEGRAM_BOT_USERNAME=udaegam_bot   # @ 없이 username만
TELEGRAM_WEBHOOK_SECRET=아무_긴_랜덤문자열
